<html>
<head>
  <title>Flapper News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
  <script src="https://w.soundcloud.com/player/api.js"></script>
  <script src="https://apis.google.com/js/api.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    socket.on('test', function(message) {
      console.log(message);
    });
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="javascripts/angularApp.js"></script>

  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .glyphicon-fast-forward {
      cursor:pointer
    }

    .selected {
      color: blue;
    }

    .grayed-out {
      color: gray;
    }
  </style>
</head>
<body ng-app="flapperNews">
  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isGuest()"><a>Guest</a></li>
      <li ng-show="isRegistered()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isRegistered()"><a href="#/" ng-click="logOut()">Log Out</a></li>
      <!--li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li-->
      <li><a>Connections: {{ numConnections }}</a></li>
    </ul>
  </nav>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/welcome.html">
    <div class="page-header">
      <h1>{{ message }}</h1>
    </div>

    <a href="#/login" class="btn btn-default" role="button">Log in</a>
    <a href="#/register" class="btn btn-default" role="button">Register</a>
    <button class="btn btn-default" ng-click="guest()">Guest</button>
  </script>

  <script type="text/ng-template" id="/parties.html">
    <div class="page-header">
      <h1>Cue</h1>
    </div>

    <div ng-repeat="party in parties">
      <span style="font-size:20px;margin-left:10px">
        <a href="#/parties/{{party._id}}">
          <span ng-show="party.hasPassword" class="glyphicon glyphicon-lock" />
          {{party.name}}: {{party.loc}}
        </a>
        <!--span ng-show="post.author">
          posted by <a>{{post.author}}</a> |
        </span-->      
      </span>
    </div>
    <button class="btn btn-default" ng-click="refresh()">Refresh</button>

    <form ng-submit="createParty()" ng-show="isLoggedIn()" style="margin-top:30px">
      <h3>Create a new party:</h3>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name"  ng-model="name">
        <input type="password" class="form-control" placeholder="Password (optional)" ng-model="password">
      </div>

      <!--div class="form-group">
        <input type="number" step="0.000001" min="-90" max="90" class="form-control" placeholder="Latitude" ng-model="lat">
      </div>

      <div class="form-group">
        <input type="number" step="0.000001" min="-180" max="180" class="form-control" placeholder="Longitude" ng-model="lng">
      </div-->

      <button type="submit" class="btn btn-primary">Create</button>
    </form>
    <div ng-hide="isLoggedIn()">
      <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can create a party.</h3>
    </div>
  </script>

  <script type="text/ng-template" id="/party.html">
    <div class="page-header">
      <h3>
        <span>
          {{party.name}}
        </span>
      </h3>
      <h4 ng-show="isHost">
        <b>HOST</b>
      </h4>
      <h5>
        <span ng-repeat="guest in party.guests">{{guest}}<span ng-hide="$last">, </span></span>
      </h5>
    </div>

    <div id="playerWrapper">
      <div id="player">
        <!--Some stuff-->
      </div>
    </div>
    <div style="text-align: center;">
      <span ng-if="current.data">{{ current.request.artist}} - {{ current.request.name }}</span>
      <br>
      <span class="glyphicon glyphicon-thumbs-down" ng-class="{'selected': isSkipped()}" ng-click="skip(current.request)" />
      <span ng-show="isHost" class="glyphicon glyphicon-play" ng-class="{'selected': isPlaying}" ng-click="play()" />
      <span ng-show="isHost" class="glyphicon glyphicon-fast-forward" ng-click="playNext()" />
      <br>
      {{ current.request.skips }}
    </div>

    <div ng-repeat="request in party.requests | orderBy:'time' | filter: {played: false}">
      <!--{{request.skips}}-->
      <!--span class="glyphicon glyphicon-fast-forward" ng-click="skip(request)"></span-->
      <span style="font-size:20px; margin-left:10px;">
        {{request.artist}} - {{request.name}} - {{request.played}}
      </span>
    </div>

    <div ng-show="isLoggedIn()">
      <form ng-submit="search(query)" ng-show="isLoggedIn()" style="margin-top:30px;">
        <h3>Make a request</h3>

        <!--div class="form-group">
          <input type="text" class="form-control" placeholder="URL" ng-model="url"></input>
        </div>

        <div class="form-group">
          <input type="number" min="0" max="1" class="form-control" placeholder="Service" ng-model="service"></input>
        </div-->

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Query" ng-model="query"></input>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      <div id="results">
        <div class="item" ng-repeat="result in results" ng-click="addRequest(result)">
          <img src="{{ result.artwork }}" />
          {{ result.name }}
        </div>
      </div>
      <button class="btn btn-primary" ng-click="next()">Next</button>
      <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
    </div>
    <div ng-hide="isLoggedIn()">
      <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can request songs or vote to skip.</h3>
    </div>
  </script>


  
  <script type="text/ng-template" id="/register.html">
	  <div class="page-header">
	    <h1>Cue</h1>
	  </div>
	
	  <div ng-show="error" class="alert alert-danger row">
	    <span>{{ error.message }}</span>
	  </div>
	
	  <form ng-submit="register()"
	    style="margin-top:30px;">
	    <h3>Register</h3>
	
	    <div class="form-group">
	      <input type="text"
	      class="form-control"
	      placeholder="Username"
	      ng-model="user.username"></input>
	    </div>
	    <div class="form-group">
	      <input type="password"
	      class="form-control"
	      placeholder="Password"
	      ng-model="user.password"></input>
	    </div>
	    <button type="submit" class="btn btn-primary">Register</button>
	  </form>
	</script>


	<script type="text/ng-template" id="/login.html">
	  <div class="page-header">
	    <h1>Cue</h1>
	  </div>
	
	  <div ng-show="error" class="alert alert-danger row">
	    <span>{{ error.message }}</span>
	  </div>
	
	  <form ng-submit="logIn()"
	    style="margin-top:30px;">
	    <h3>Log In</h3>
	
	    <div class="form-group">
	      <input type="text"
	      class="form-control"
	      placeholder="Username"
	      ng-model="user.username"></input>
	    </div>
	    <div class="form-group">
	      <input type="password"
	      class="form-control"
	      placeholder="Password"
	      ng-model="user.password"></input>
	    </div>
	    <button type="submit" class="btn btn-primary">Log In</button>
	  </form>
  </script>					  

  </body>
</html>